*{
  box-sizing: border-box;
}

/*Fonts*/
@font-face {
  font-family: 'Urbanist-Light';
  src: local('Urbanist'), url(./fonts/Urbanist/static/Urbanist-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Urbanist-ExtraLight';
  src: local('Urbanist'), url(./fonts/Urbanist/static/Urbanist-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Urbanist-Thin';
  src: local('Urbanist'), url(./fonts/Urbanist/static/Urbanist-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Urbanist-Regular';
  src: local('Urbanist'), url(./fonts/Urbanist/static/Urbanist-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Urbanist-Bold';
  src: local('Urbanist'), url(./fonts/Urbanist/static/Urbanist-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container{
  background-color: #f7f7f7;
  display: flex;
  width: 100%;
  height: 99vh;
  justify-content: center;
  align-items: center;
}

.main-box{
  width: 80%;
  display: flex;
  flex-flow: column;
  height: 80vh;
}

.nav-header{
  text-align: center;
  font-family: Urbanist-Light;
}

.nav-header a{
  margin: 10px 10px;
  text-decoration: none;
  color: inherit;
}



.content{
  text-align: center;
  display: flex;
  height: 99%;
  justify-content: center; 
}

.home{
  align-self: center;
}

/*home*/
.home h1{
  font-family: Urbanist-Thin;
}

.home p{
  font-family: Urbanist-Regular;
}

/*projects*/
.projetos{
  width: 100%;
}

.projetos h2{
  font-family: Urbanist-Thin;
}

.projetos-box{
  display: flex;
  height: 98%;
}

.lista-projetos ul{
  list-style: none;
  text-align: left;
  
}

.lista-projetos ul a{
  font-family: Urbanist-ExtraLight;
  text-decoration: none;
  color: #888888;
  font-size: 2.2em;
}

.nav-projeto-left{
  width: 50%;
  display: flex;
  align-items: center;
}

.box-prev{
  background: lightblue;
  border-top-left-radius: 70px;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.box-prev-empty{
  width: 1000%;
  height: 80%;
  border: 1px solid lightblue;
  border-top-left-radius: 70px ;
}

.box-prev img{
  width: 100%;
  height: 100%;
}

.prev-projeto-right{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}