:root {
  --underline-thickness: 3px;
}

*{
  box-sizing: border-box;
}

/*Fonts*/
@font-face {
  font-family: 'CSKalimer-Regular';
  src: local('Urbanist'), url(./fonts/Cs_Kalimer/CSKalimer-Regular-BF667a7d8b2300b.otf), format('OpenType');
}

@font-face {
  font-family: 'SpaceMono-Bold';
  src: local('Urbanist'), url(./fonts/Space_Mono/SpaceMono-Bold.ttf), format('TrueType');
}

@font-face {
  font-family: 'Rubik-Regular';
  src: local('Urbanist'), url(./fonts/Rubik/static/Rubik-Regular.ttf), format('TrueType');
}

@font-face {
  font-family: 'Rubik-Light';
  src: local('Urbanist'), url(./fonts/Rubik/static/Rubik-Light.ttf), format('TrueType');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subtitle{
  font-family: CSKalimer-Regular;
  color: #ffffff;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 0px;
}

.main-container{
  background-color: #000;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main-box{
  width: 80%;
  display: flex;
  flex-flow: column;
  height: 85vh;
}

.content{
  display: flex;
  height: 99%;
}

.lineWhite{
  width: 100%;
  border-bottom: 3px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Nav Menu*/
.nav-header {
  font-family: SpaceMono-Bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-header a:nth-child(1){
  padding-left: 0px;
}

.nav-header a {
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
  padding: 0 1.5em 0.25em;
}

.nav-header a::before {
  content: "";
  scale: 0 1;
  position: absolute;
  background: #162dfc; 
  transition: 0.3s, translate 0s 0.3s;
  inset: calc(100% - var(--underline-thickness)) 0 0 0;
}

.nav-header a:hover {
  color: #2a8cdd;
}

.nav-header a:hover::before {
  translate: 0;
  transition: 0.3s;
}

.nav-header:hover a::before {
  scale: 1;
}

.nav-header:hover a:hover ~ a::before {
  translate: -100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

.nav-header:hover a:has(~ a:hover)::before {
  translate: 100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

/*home*/
.home{
  align-self: center;
  text-align: left;
}

.home p{
  font-family: Rubik-Regular;
  color: #ffffff;
  font-size: 1.1em;
}

.home h1{
  font-size: 7em;
  margin: 0px;
}

/*projects*/
.container-projetos{
  width: 100%;
}

.projetos-box{
  display: flex;
  height: 98%;
}

.lista-projetos ul{
  list-style: none;
  text-align: left;
  
}

.lista-projetos ul a{
  text-decoration: none;
  color: #d3d3d3;
  font-size: 2.2em;
  display: block;
  position: relative;
}

.lista-projetos ul a:hover{
  color: #2a8cdd;
}

.lista-projetos ul a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #1f2bd6;;
  border-radius: 0.1em;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.raise:after {
  bottom: -0.2em;
}
.raise:hover:after {
  opacity: 1;
  transform: translate3d(0, -0.2em, 0);
  z-index: 2;
}

.nav-projeto-left{
  width: 50%;
  display: flex;
  align-items: center;
}

.box-prev{
  background: lightblue;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.box-prev-empty{
  width: 1000%;
  height: 80%;
  border: 1px solid lightblue;
  border-top-left-radius: 70px ;
}

.box-prev img{
  width: 100%;
  height: 100%;
}

.prev-projeto-right{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center; 
}

/*Contato*/
.social-box{
  display: flex;
  align-items: center;
  height: 100%;
}

.social-links{
  font-size: 2.2em;
}

.social-links{
  margin-bottom: 10px;
}

.social-links a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.social-links a svg{
  margin-right: 5px;
}


/*Sobre*/
.container-about{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.container-photo{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.content-photo{
  width: 350px;
  height: 350px;
  margin-right: 40px;
  border-radius: 13px;
  overflow: hidden;

}

.content-photo img{
  position: relative;
  top: -77px;
  width: 100%;
  height: 125%;
}

.content-about{
  font-family: Rubik-Light;
  color: #fff;
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-about p{
  font-size: 1.1em;
  font-family: Rubik-Light;
  line-height: 1.5em;
  margin-top: 0px;
}

.skills-icons{
  font-size: 2.1em;
  display: flex;
}

.skills-icons div{
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.skills-icons .html{
  border: 1px solid #eb4f07;
  color: #eb4f07;
}
.skills-icons .css{
  border: 1px solid #048abe;
  color: #048abe;
}
.skills-icons .js{
  border: 1px solid #f1d011;
  color: #f1d011;
}
.skills-icons .react{
  border: 1px solid #13c5fc;
  color: #13c5fc;
}
.skills-icons .sass{
  border: 1px solid #f00cbe;
  color: #f00cbe;
}
.skills-icons .db{
  border: 1px solid #086185;
  color: #086185;
}

/*Contact Page*/
.container-contact{
  color: #fff;
}
