:root {
  --underline-thickness: 3px;
}

*{
  box-sizing: border-box;
}

/*Fonts*/
@font-face {
  font-family: 'CSKalimer-Regular';
  src: local('Urbanist'), url(./fonts/Cs_Kalimer/CSKalimer-Regular-BF667a7d8b2300b.otf), format('OpenType');
}

@font-face {
  font-family: 'SpaceMono-Bold';
  src: local('Urbanist'), url(./fonts/Space_Mono/SpaceMono-Bold.ttf), format('TrueType');
}

@font-face {
  font-family: 'Rubik-Regular';
  src: local('Urbanist'), url(./fonts/Rubik/static/Rubik-Regular.ttf), format('TrueType');
}

@font-face {
  font-family: 'Rubik-Light';
  src: local('Urbanist'), url(./fonts/Rubik/static/Rubik-Light.ttf), format('TrueType');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subtitle{
  font-family: CSKalimer-Regular;
  color: #ffffff;
}

.main-container{
  background-color: #000;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main-box{
  width: 80%;
  display: flex;
  flex-flow: column;
  height: 80vh;
}

.content{
  display: flex;
  height: 99%;
}

/*Nav Menu*/
.nav-header {
  font-family: SpaceMono-Bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 3px solid #fff;
  padding-bottom: 50px;
}

.nav-header a:nth-child(1){
  padding-left: 0px;
}

.nav-header a {
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
  padding: 0 1.5em 0.25em;
}

.nav-header a::before {
  content: "";
  scale: 0 1;
  position: absolute;
  background: #44403c; 
  transition: 0.3s, translate 0s 0.3s;
  inset: calc(100% - var(--underline-thickness)) 0 0 0;
}

.nav-header a:hover {
  color: #7e22ce;
}

.nav-header a:hover::before {
  translate: 0;
  transition: 0.3s;
}

.nav-header:hover a::before {
  scale: 1;
}

.nav-header:hover a:hover ~ a::before {
  translate: -100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

.nav-header:hover a:has(~ a:hover)::before {
  translate: 100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

/*home*/
.home{
  align-self: center;
  text-align: left;
}

.home p{
  font-family: Rubik-Regular;
  color: #ffffff;
  font-size: 1.1em;
}

.home h1{
  font-size: 7em;
  margin: 0px;
}

/*projects*/
.projetos{
  width: 100%;
}

.projetos h2{
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 0px;
}

.projetos-box{
  display: flex;
  height: 98%;
}

.lista-projetos ul{
  list-style: none;
  text-align: left;
  
}

.lista-projetos ul a{
  text-decoration: none;
  color: #44403c;
  font-size: 2.2em;
  display: block;
  position: relative;
}

.lista-projetos ul a:hover{
  color: #7e22ce;
}

.lista-projetos ul a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #44403c;
  border-radius: 0.1em;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.raise:after {
  bottom: -0.2em;
}
.raise:hover:after {
  opacity: 1;
  transform: translate3d(0, -0.2em, 0);
  z-index: 2;
}

.nav-projeto-left{
  width: 50%;
  display: flex;
  align-items: center;
}

.box-prev{
  background: lightblue;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.box-prev-empty{
  width: 1000%;
  height: 80%;
  border: 1px solid lightblue;
  border-top-left-radius: 70px ;
}

.box-prev img{
  width: 100%;
  height: 100%;
}

.prev-projeto-right{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center; 
}

/*about*/
.container-about{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.container-photo-socialMedia{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
}

.content-photo{
  width: 300px;
  height: 450px;
  margin: 0px 40px; 
  overflow: hidden;
  border-top-left-radius: 60px;
}

.content-photo img{
  position: relative;
  top: -120px;
  width: 100%;
  height: 130%;
}

.content-socialMedia{
  font-family: Rubik-Light;
  color: #fff;
  width: 40%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-socialMedia p{
  font-size: 1.1em;
}

.social-links{
  margin-bottom: 10px;
}

.social-links a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
}

.social-links a svg{
  margin-right: 5px;
}